@{
    Layout = "~/Views/Shared/_AdminBaseMaster.cshtml";
}
@RenderSection("AjaxJavascriptInclude", required: false)
<div id="spinner" class="spinner" style="display: none;">
    <img id="img-spinner" src="~/img/ajax-loader.gif" alt="Loading" />
</div>
<div class="navbar-xs">
    <div class="navbar-primary">
        <nav class="navbar navbar-static-top" role="navigation">
            <a class="brand" href="/">WallIT | Backend - Admin</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-user-profile">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            @*<div class="collapse navbar-collapse" id="navbar-user">*@
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome, <span class="text-capitalize">User!</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu account-dropdown" role="menu">
                        @*<li><a href="@Url.Action("Index", "Reports")">Reports</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Index", "Account")">Moderate</a></li>
                            <li class="divider"></li>*@
                        <li><a href="@Url.Action("Logout", "Home")">Salir</a></li>
                    </ul>
                </li>
            </ul>
            @*</div>*@<!-- /.navbar-collapse -->
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item"><a href="/">Inicio</a></li>
                @if (WallIT.Web.SessionHelper.IsAdmin)
                {
                    <li class="list-group-item"><a href="/Users">Usuarios</a></li>
                    <li class="list-group-item"><a href="/Offices">Oficinas</a></li>
                    <li class="list-group-item"><a href="/Transactions">Gastos/Ingresos</a></li>
                }
                <li class="list-group-item"><a href="/Cases">Casos</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tabbable">
                @RenderSection("MainContent")
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; Copyright @DateTime.Now.Year - WallIT | Backend</p>
    </footer>
</div>
<div class="modal small fade" id="bulkDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="deleteModalLabel">Eliminar Registro</h4>
            </div>
            <input id="deleteModalId" type="hidden" value="" />
            <div class="modal-body">
                <p class="error-text">
                    Seguro que quiere elimar los registros seleccionados?<br>
                    Esta operacion no se puede deshacer, informacion importante se puede perder.
                </p>
                <p id="bulkDeleteMoreInfo" class="error-text">
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger clickedButton" data-dismiss="modal" onclick="javascript:confirmBulkDelete(); return false;">Eliminar</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="javascript:cancelDelete(); return false;">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
@RenderSection("JavaScript", required: false)

